@property --forge-application-layout-layout-application-surface-default {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-typography-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-typography-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-typography-font-weight {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-typography-line-height {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-typography-letter-spacing {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-padding-status-block {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-padding-status-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-padding-status-inline-wide {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-sidebar-top {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-sidebar-width {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-surface-sidebar {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-border-width-sidebar {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-border-sidebar {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-shadow-overlay {
  syntax: '*';
  inherits: true;
}

@property --forge-application-layout-layout-application-scrim-default {
  syntax: '*';
  inherits: true;
}
