/**
 * Registered inherited custom properties for forge-grid overrides.
 */

@property --forge-grid-layout-grid-container-padding {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-container-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-container-border {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-container-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-cell-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-cell-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-cell-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-cell-border {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-cell-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-cell-surface {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-cell-text {
  syntax: '*';
  inherits: true;
}

@property --forge-grid-layout-grid-cell-padding-wide {
  syntax: '*';
  inherits: true;
}
