@property --forge-slider-checkable-size-md-track-height {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-md-track-height);
}

@property --forge-slider-checkable-size-md-thumb-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-md-thumb-size);
}

@property --forge-slider-thumb-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-slider-thumb-size);
}

@property --forge-slider-checkable-size-2xs-track-height {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-2xs-track-height);
}

@property --forge-slider-checkable-size-2xs-thumb-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-2xs-thumb-size);
}

@property --forge-slider-checkable-size-xs-track-height {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-xs-track-height);
}

@property --forge-slider-checkable-size-xs-thumb-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-xs-thumb-size);
}

@property --forge-slider-checkable-size-sm-track-height {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-sm-track-height);
}

@property --forge-slider-checkable-size-sm-thumb-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-sm-thumb-size);
}

@property --forge-slider-checkable-size-lg-track-height {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-lg-track-height);
}

@property --forge-slider-checkable-size-lg-thumb-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-lg-thumb-size);
}

@property --forge-slider-checkable-size-xl-track-height {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-xl-track-height);
}

@property --forge-slider-checkable-size-xl-thumb-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-xl-thumb-size);
}

@property --forge-slider-checkable-size-2xl-track-height {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-2xl-track-height);
}

@property --forge-slider-checkable-size-2xl-thumb-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-size-2xl-thumb-size);
}

@property --forge-slider-checkable-opacity-disabled {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-opacity-disabled);
}

@property --forge-slider-track-height {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-slider-track-height);
}

@property --forge-slider-checkable-track-inactive {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-track-inactive);
}

@property --forge-slider-checkable-circle-radius {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-circle-radius);
}

@property --forge-slider-checkable-track-selected {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-track-selected);
}

@property --forge-slider-checkable-thumb-default {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-thumb-default);
}

@property --forge-slider-checkable-border-width-default {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-border-width-default);
}

@property --forge-slider-checkable-border-selected {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-border-selected);
}

@property --forge-slider-checkable-focus-ring {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-focus-ring);
}

@property --forge-slider-checkable-value-offset {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-value-offset);
}

@property --forge-slider-checkable-value-padding-block {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-value-padding-block);
}

@property --forge-slider-checkable-value-padding-inline {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-value-padding-inline);
}

@property --forge-slider-checkable-value-background {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-value-background);
}

@property --forge-slider-checkable-value-text {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-value-text);
}

@property --forge-slider-checkable-value-radius {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-value-radius);
}

@property --forge-slider-checkable-font-family {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-font-family);
}

@property --forge-slider-checkable-value-font-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-checkable-value-font-size);
}
