@layer mp.content {
  .wysiwyg-status-bar {
    display: flex;
    gap: var(--mp-editor-status-bar-gap);
    align-items: center;
    padding: var(--mp-editor-status-bar-padding-block)
      var(--mp-editor-status-bar-padding-inline);
    color: var(--mp-editor-status-bar-text);
    font-size: var(--mp-editor-status-bar-font-size);
    border-top: var(--mp-editor-status-bar-border-width) solid
      var(--mp-editor-status-bar-border);
  }

  .wysiwyg-status-bar--start {
    justify-content: flex-start;
  }

  .wysiwyg-status-bar--center {
    justify-content: center;
  }

  .wysiwyg-status-bar--end {
    justify-content: flex-end;
  }

  .wysiwyg-status-bar--between {
    justify-content: space-between;
  }

  .wysiwyg-status-bar__item {
    white-space: nowrap;
  }
}
