@property --forge-number-stepper-input-field-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-field-required {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-surface-default {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-border-focus-visible {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-focus-ring {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-number-button-width {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-number-button-background-default {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-number-button-text {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-number-button-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-number-button-disabled-opacity {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-number-button-background-hover {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-line-height {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-text-placeholder {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-2xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-sm-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-md-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-lg-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-2xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-2xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-sm-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-md-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-lg-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-2xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-2xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-sm-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-md-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-lg-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-size-2xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-border-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-focus-ring-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-opacity-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-surface-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-number-stepper-input-text-invalid {
  syntax: '*';
  inherits: true;
}
