@property --forge-search-input-input-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-surface-default {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-search-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-border-focus-visible {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-focus-ring {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-search-icon-text {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-text-placeholder {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-search-clear-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-search-clear-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-search-clear-text-hover {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-search-spinner-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-search-spinner-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-search-spinner-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-2xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-sm-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-md-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-lg-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-2xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-2xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-sm-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-md-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-lg-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-2xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-2xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-sm-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-md-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-lg-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-size-2xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-surface-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-search-input-input-text-disabled {
  syntax: '*';
  inherits: true;
}
