@property --forge-search-input-input-border-width {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-border-width);
}

@property --forge-search-input-input-border-default {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-border-default);
}

@property --forge-search-input-input-radius {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-radius);
}

@property --forge-search-input-input-surface-default {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-surface-default);
}

@property --forge-search-input-input-search-gap {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-search-gap);
}

@property --forge-search-input-input-border-focus-visible {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-border-focus-visible);
}

@property --forge-search-input-input-focus-ring {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-focus-ring);
}

@property --forge-search-input-input-search-icon-text {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-search-icon-text);
}

@property --forge-search-input-input-text-default {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-text-default);
}

@property --forge-search-input-input-font-family {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-font-family);
}

@property --forge-search-input-input-text-placeholder {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-text-placeholder);
}

@property --forge-search-input-input-search-clear-text-default {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-search-clear-text-default);
}

@property --forge-search-input-input-search-clear-radius {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-search-clear-radius);
}

@property --forge-search-input-input-search-clear-text-hover {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-search-clear-text-hover);
}

@property --forge-search-input-input-search-spinner-border-width {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-search-spinner-border-width);
}

@property --forge-search-input-input-search-spinner-radius {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-search-spinner-radius);
}

@property --forge-search-input-input-search-spinner-duration {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-search-spinner-duration);
}

@property --forge-search-input-input-size-2xs-padding-block {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-2xs-padding-block);
}

@property --forge-search-input-input-size-xs-padding-block {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-xs-padding-block);
}

@property --forge-search-input-input-size-sm-padding-block {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-sm-padding-block);
}

@property --forge-search-input-input-size-md-padding-block {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-md-padding-block);
}

@property --forge-search-input-input-size-lg-padding-block {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-lg-padding-block);
}

@property --forge-search-input-input-size-xl-padding-block {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-xl-padding-block);
}

@property --forge-search-input-input-size-2xl-padding-block {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-2xl-padding-block);
}

@property --forge-search-input-input-size-2xs-padding-inline {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-2xs-padding-inline);
}

@property --forge-search-input-input-size-xs-padding-inline {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-xs-padding-inline);
}

@property --forge-search-input-input-size-sm-padding-inline {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-sm-padding-inline);
}

@property --forge-search-input-input-size-md-padding-inline {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-md-padding-inline);
}

@property --forge-search-input-input-size-lg-padding-inline {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-lg-padding-inline);
}

@property --forge-search-input-input-size-xl-padding-inline {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-xl-padding-inline);
}

@property --forge-search-input-input-size-2xl-padding-inline {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-2xl-padding-inline);
}

@property --forge-search-input-input-size-2xs-font-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-2xs-font-size);
}

@property --forge-search-input-input-size-xs-font-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-xs-font-size);
}

@property --forge-search-input-input-size-sm-font-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-sm-font-size);
}

@property --forge-search-input-input-size-md-font-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-md-font-size);
}

@property --forge-search-input-input-size-lg-font-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-lg-font-size);
}

@property --forge-search-input-input-size-xl-font-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-xl-font-size);
}

@property --forge-search-input-input-size-2xl-font-size {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-size-2xl-font-size);
}

@property --forge-search-input-input-surface-disabled {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-surface-disabled);
}

@property --forge-search-input-input-text-disabled {
  syntax: '*';
  inherits: true;
  initial-value: var(--mp-input-text-disabled);
}
