@property --forge-radio-group-checkable-gap-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-group-input-field-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-group-field-required {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-group-checkable-text-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-group-field-error {
  syntax: '*';
  inherits: true;
}
