@property --forge-color-input-gap-stack {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-form-text-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-gap-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-surface-default {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-border-focus {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-focus-ring {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-hover-opacity {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-letter-spacing {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-text-placeholder {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-2xs-swatch {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-xs-swatch {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-sm-swatch {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-md-swatch {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-lg-swatch {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-xl-swatch {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-2xl-swatch {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-2xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-sm-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-md-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-lg-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-2xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-2xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-sm-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-md-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-lg-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-2xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-2xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-sm-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-md-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-lg-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-size-2xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-border-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-focus-ring-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-disabled-opacity {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-surface-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-color-input-text-error {
  syntax: '*';
  inherits: true;
}
