@property --forge-time-input-input-field-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-field-required {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-surface-default {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-border-focus-visible {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-focus-ring {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-text-secondary {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-extension-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-text-placeholder {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-2xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-sm-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-md-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-lg-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-2xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-2xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-sm-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-md-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-lg-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-2xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-2xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-sm-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-md-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-lg-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-size-2xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-border-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-focus-ring-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-opacity-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-input-surface-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-field-error {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-popover-padding {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-columns-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-font-size-separator {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-text-secondary {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-font-size-header {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-font-weight-medium {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-text-muted {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-unit-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-unit-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-font-size-unit {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-unit-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-surface-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-text-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-font-weight-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-border-focus-width {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-border-focus {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-surface-hover {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-done-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-done-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-done-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-time-input-time-done-hover-opacity {
  syntax: '*';
  inherits: true;
}
