/**
 * Registered inherited custom properties for forge-skeleton overrides.
 */

@property --forge-skeleton-feedback-skeleton-background-default {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-radius-default {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-shimmer {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-radius-line {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-radius-circle {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-radius-block {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-background-primary {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-background-secondary {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-background-tertiary {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-background-success {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-background-warning {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-background-info {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-background-error {
  syntax: '*';
  inherits: true;
}

@property --forge-skeleton-feedback-skeleton-background-critical {
  syntax: '*';
  inherits: true;
}
