@property --forge-slider-checkable-size-md-track-height {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-md-thumb-size {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-thumb-size {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-2xs-track-height {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-2xs-thumb-size {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-xs-track-height {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-xs-thumb-size {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-sm-track-height {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-sm-thumb-size {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-lg-track-height {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-lg-thumb-size {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-xl-track-height {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-xl-thumb-size {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-2xl-track-height {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-size-2xl-thumb-size {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-opacity-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-track-height {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-track-inactive {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-circle-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-track-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-thumb-default {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-border-width-default {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-border-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-focus-ring {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-value-offset {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-value-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-value-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-value-background {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-value-text {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-value-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-slider-checkable-value-font-size {
  syntax: '*';
  inherits: true;
}
