/**
 * Registered inherited custom properties for forge-pagination overrides.
 */

@property --forge-pagination-navigation-pagination-gap-default {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-gap-wide {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-gap-wider {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-size {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-surface-default {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-font {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-surface-active {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-border-active {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-text-active {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-focus-ring {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-opacity-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-surface-hover {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-border-hover {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-text-ellipsis {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-font-2xs {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-font-xs {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-font-sm {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-font-md {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-font-lg {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-font-xl {
  syntax: '*';
  inherits: true;
}

@property --forge-pagination-navigation-pagination-font-2xl {
  syntax: '*';
  inherits: true;
}
