@property --forge-input-field-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-input-field-required {
  syntax: '*';
  inherits: true;
}

@property --forge-input-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-input-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-input-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-input-surface-default {
  syntax: '*';
  inherits: true;
}

@property --forge-input-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-input-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-input-border-focus-visible {
  syntax: '*';
  inherits: true;
}

@property --forge-input-focus-ring {
  syntax: '*';
  inherits: true;
}

@property --forge-input-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-input-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-input-line-height {
  syntax: '*';
  inherits: true;
}

@property --forge-input-text-placeholder {
  syntax: '*';
  inherits: true;
}

@property --forge-input-text-secondary {
  syntax: '*';
  inherits: true;
}

@property --forge-input-extension-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-2xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-xs-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-sm-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-md-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-lg-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-2xl-padding-block {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-2xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-xs-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-sm-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-md-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-lg-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-2xl-padding-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-2xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-sm-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-md-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-lg-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-input-size-2xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-input-border-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-input-focus-ring-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-input-opacity-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-input-surface-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-input-text-invalid {
  syntax: '*';
  inherits: true;
}
