@property --forge-otp-input-input-otp-size-md-cell {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-md-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-2xs-cell {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-2xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-xs-cell {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-xs-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-sm-cell {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-sm-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-lg-cell {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-lg-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-xl-cell {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-2xl-cell {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-size-2xl-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-otp-cell-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-font-family {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-otp-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-font-weight {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-text {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-surface {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-border-focus {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-focus-ring {
  syntax: '*';
  inherits: true;
}

@property --forge-otp-input-input-otp-disabled-opacity {
  syntax: '*';
  inherits: true;
}
