/**
 * Registered inherited custom properties for forge-timeline overrides.
 */

@property --forge-timeline-line-width {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-marker-default {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-default {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-primary {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-secondary {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-tertiary {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-success {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-warning {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-information {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-error {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-variant-critical {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-marker-size {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-marker-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-item-color {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-marker-outline-width {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-marker-outline-surface {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-marker-outlined-surface {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-line-thickness {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-vertical-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-gutter {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-line-surface {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-horizontal-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-content-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-timeline-content-body-margin-top {
  syntax: '*';
  inherits: true;
}
