@property --forge-checkbox-checkable-gap-stack {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-gap-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-control-size {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-border-width-default {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-track-default {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-glyph-font-size {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-glyph-font-weight {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-field-required {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-border-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-border-width-focus {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-border-focus-visible {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-track-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-border-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-checkable-thumb-on-track {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-feedback-opacity-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-checkbox-field-error {
  syntax: '*';
  inherits: true;
}
