/**
 * Registered inherited custom properties for forge-spinner overrides.
 */

@property --forge-spinner-feedback-spinner-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-animation-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-animation-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-border-width-2xs {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-border-width-xs {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-border-width-sm {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-border-width-md {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-border-width-lg {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-border-width-xl {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-border-width-2xl {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-size-2xs {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-size-xs {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-size-sm {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-size-md {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-size-lg {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-size-xl {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-size-2xl {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-neutral {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-primary {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-secondary {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-tertiary {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-success {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-warning {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-info {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-error {
  syntax: '*';
  inherits: true;
}

@property --forge-spinner-feedback-spinner-color-critical {
  syntax: '*';
  inherits: true;
}
