@property --forge-field-set-padding {
  syntax: '*';
  inherits: true;
}

@property --forge-field-set-surface {
  syntax: '*';
  inherits: true;
}

@property --forge-field-set-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-field-set-border {
  syntax: '*';
  inherits: true;
}

@property --forge-field-set-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-field-set-legend-padding {
  syntax: '*';
  inherits: true;
}

@property --forge-field-set-description-margin {
  syntax: '*';
  inherits: true;
}

@property --forge-field-set-content-gap {
  syntax: '*';
  inherits: true;
}
