@property --forge-radio-checkable-gap-inline {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-control-size {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-border-width-focus {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-border-focus-visible {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-border-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-border-width-default {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-circle-radius {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-track-default {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-indicator-size {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-track-selected {
  syntax: '*';
  inherits: true;
}

@property --forge-radio-checkable-opacity-disabled {
  syntax: '*';
  inherits: true;
}
