/**
 * Registered inherited custom properties for forge-status-icon overrides.
 */

@property --forge-status-icon-feedback-status-size-2xs {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-size-xs {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-size-sm {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-size-md {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-size-lg {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-size-xl {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-size-2xl {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-neutral {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-primary {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-secondary {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-tertiary {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-success {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-warning {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-info {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-error {
  syntax: '*';
  inherits: true;
}

@property --forge-status-icon-feedback-status-color-critical {
  syntax: '*';
  inherits: true;
}
