/**
 * Registered inherited custom properties for forge-split-pane overrides.
 */

@property --forge-split-pane-spacing-2 {
  syntax: '*';
  inherits: true;
}

@property --forge-split-pane-color-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-split-pane-border-width-thick {
  syntax: '*';
  inherits: true;
}

@property --forge-split-pane-color-border-focus {
  syntax: '*';
  inherits: true;
}
