@property --forge-location-input-input-location-gap-stack {
  syntax: '*';
  inherits: true;
}

@property --forge-location-input-input-location-gap-legend {
  syntax: '*';
  inherits: true;
}

@property --forge-location-input-input-location-required {
  syntax: '*';
  inherits: true;
}

@property --forge-location-input-input-location-gap-row {
  syntax: '*';
  inherits: true;
}

@property --forge-location-input-input-location-text-disabled {
  syntax: '*';
  inherits: true;
}

@property --forge-location-input-input-location-text-error {
  syntax: '*';
  inherits: true;
}
