/**
 * Registered inherited custom properties for forge-virtual-table overrides.
 */

@property --forge-virtual-table-data-virtual-table-footer-gap {
  syntax: '*';
  inherits: true;
}

@property --forge-virtual-table-data-virtual-table-footer-text {
  syntax: '*';
  inherits: true;
}

@property --forge-virtual-table-data-virtual-table-footer-accent-text {
  syntax: '*';
  inherits: true;
}

@property --forge-virtual-table-data-virtual-table-footer-accent-font-weight {
  syntax: '*';
  inherits: true;
}
