@property --forge-schema-form-form-gap-large {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-disabled-opacity {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-gap-default {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-gap-tight {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-text-muted {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-text-invalid {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-padding-default {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-border-width {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-border-default {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-padding-large {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-radius-default {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-transition-duration {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-transition-easing {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-border-focus-width {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-border-focus {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-primary {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-text-inverse {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-primary-hover-opacity {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-text-default {
  syntax: '*';
  inherits: true;
}

@property --forge-schema-form-form-surface-muted {
  syntax: '*';
  inherits: true;
}
